html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* PC (해상도 1024px)*/
@media all and (min-width:768px) {
    .content {
        position: relative;
        width: 60%;
        height: 100%;
        margin: 0;
    }
    .content-pc { visibility: visible; }
    .content-mobile { visibility: hidden; }

    .content h1 {
        margin-top: calc((100vw/1920)*150);
        margin-bottom: calc((100vw/1920)*80);
        text-align: center;
        font-family: 'Noto Sans KR Black';
        font-size: calc((100vw/1920)*60);
        line-height: calc((100vw/1920)*80);
        color: #5D5D5D;
    }

    .content p {
        margin-bottom: calc((100vw/1920)*80);
        text-align: center;
        font-family: 'Noto Sans KR Bold';
        font-size: calc((100vw/1920)*25);
        line-height: calc((100vw/1920)*49);
        color: #B2B2B2;
    }

    .content table {
        position: absolute;
        margin-top: 10%;
        left: 17%;
        width: 70%;
        border: none;
    }

    .column-1 {
        text-align: end;
        font-family: 'Noto Sans KR Black';
        font-size: calc((100vw/1920)*38);
        line-height: calc((100vw/1920)*80);
        font-weight: bold;
        color: #6E6E6E;
    }

    .column-2 {
        font-family: 'Noto Sans KR Black';
        font-size: calc((100vw/1920)*34);
        line-height: calc((100vw/1920)*80);
        font-weight: bold;
        color: #939393;
    }

    .column-2 > a {
        color: #939393;
        text-decoration: none;
    }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
/*@media all and (min-width:768px) and (max-width:1023px) { 
    style input
}*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .content {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 100%;
        margin: 0;
    }
    .content-pc { visibility: hidden; }
    .content-mobile {
        position: absolute;
        top: 10vh;
        width: 100%;
        text-align: center;
        visibility: visible;
    }

    .content-mobile h1 {
        margin-bottom: 8vh;
        text-align: center;
        font-family: 'Noto Sans KR Black';
        font-size: 30px;
        line-height: 60px;
        color: #5D5D5D;
    }

    .main-word {
        margin-bottom: 12vh;
        text-align: center;
        font-family: 'Noto Sans KR Bold';
        font-size: 18px;
        line-height: 28px;
        color: #B2B2B2;
    }

    .title-word {
        font-family: 'Noto Sans KR Bold';
        font-size: 17px;
        line-height: 34px;
        font-weight: bold;
        color: #6E6E6E;
        margin: 0;
    }

    .sub-word {
        font-family: 'Noto Sans KR Black';
        font-size: 17px;
        line-height: 34px;
        font-weight: bold;
        color: #939393;
        margin-top: 0;
    }

    .sub-word > a {
        color: #939393;
        text-decoration: none;
    }
}