html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#subcontent01 { visibility: visible; }
#subcontent02 { visibility: hidden; }
#subcontent03 { visibility: hidden; }
#subcontent04 { visibility: hidden; }

/* PC (해상도 1024px)*/
@media all and (min-width:768px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .content {
        position: relative;
        width: 80%;
        height: 100%;
        margin: 0;
    }

    .content-sub-menu {
        position: absolute;
        top: calc((100vw/1920)*160);
        left: 5%;
        width: 90%;
        height: auto;
    }

    .content-sub-menu button {
        margin-left: 5%;
        margin-right: 5%;
        width: 14%;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .content-sub-menu button > .current > p,
    .content-sub-menu button:hover > .current > p{ color: #5A5A5A; }
    .content-sub-menu button:hover > div >  p { color:#E1AA4F }

    .content-sub-menu > button > div {
        width: calc((100vw/1920)*200);
        text-align: center;
    }

    .content-sub-menu > button > div > p {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/1920)*40);
        line-height: calc((100vw/1920)*80);
        color: #C6C6C6;
        margin: 0;
    }
    
    .content-sub-menu > button > div > div {
        margin-left: calc((100vw/1920)*71.5);
        width: calc((100vw/1920)*57);
        height: calc((100vw/1920)*56);
        background-image: url("../src/img/guide_menu_gray.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .content-sub-menu > button > div > div > p {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/1920)*27);
        line-height: calc((100vw/1920)*54);
        color: #FFFFFF;
        margin: 0;
    }

    .content-sub-menu button > .selected-sub-menu > p { color: #E1AA4F; }
    .content-sub-menu button:hover > div > p { color: #E1AA4F; }
    .content-sub-menu button > .selected-sub-menu > div { background-image: url("../src/img/guide_menu_color.png"); }
    .content-sub-menu button:hover > div > div { background-image: url("../src/img/guide_menu_color.png"); }

    .title-word {
        margin-top: 5%;
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/1920)*40);
        line-height: calc((100vw/1920)*80);
        font-weight: bold;
        color: #5D5D5D;
    }

    .main-img {
        width: 40%;
    }

    .main-word {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/1920)*30);
        line-height: calc((100vw/1920)*45);
        color: #5D5D5D;
    }

    .sub-word {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/1920)*20);
        line-height: calc((100vw/1920)*60);
        color: #7C7C7C;
    }

    #subcontent01 {
        position: absolute;
        top: calc((100vw/1920)*370);
        left: 10%;
        width: 80%;
        height: auto;
        border: 1px solid #4848483b;
        border-radius: calc((100vw/1920)*40);
        background-color: #FBFBFB;
        text-align: center;
    }
    #subcontent02 {
        position: absolute;
        top: calc((100vw/1920)*370);
        left: 10%;
        width: 80%;
        height: auto;
        border: 1px solid #4848483b;
        border-radius: calc((100vw/1920)*40);
        background-color: #FBFBFB;
        text-align: center;
    }
    #subcontent03 {
        position: absolute;
        top: calc((100vw/1920)*370);
        left: 10%;
        width: 80%;
        height: auto;
        border: 1px solid #4848483b;
        border-radius: calc((100vw/1920)*40);
        background-color: #FBFBFB;
        text-align: center;
    }
    #subcontent04 {
        position: absolute;
        top: calc((100vw/1920)*370);
        left: 10%;
        width: 80%;
        height: auto;
        border: 1px solid #4848483b;
        border-radius: calc((100vw/1920)*40);
        background-color: #FBFBFB;
        text-align: center;
    }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
/*@media all and (min-width:768px) and (max-width:1023px) { 
    style input
}*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    body {
        overflow: hidden;
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 100%;
        margin: 0;
    }

    .content-sub-menu {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: calc((100vw/375)*60);
    }

    .content-sub-menu button {
        margin-left: 3%;
        margin-right: 4%;
        width: 14%;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .content-sub-menu button > .current > p,
    .content-sub-menu button:hover > .current > p{ color: #5A5A5A; }
    .content-sub-menu button:hover > div >  p { color:#E1AA4F }

    .content-sub-menu > button > div {
        width: calc((100vw/375)*60);
        text-align: center;
    }

    .content-sub-menu > button > div > p {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/375)*12);
        line-height: calc((100vw/375)*15);
        color: #C6C6C6;
        margin: 0;
        margin-bottom: 8px;
    }
    
    .content-sub-menu > button > div > div {
        margin-left: calc((100vw/375)*15);
        width: calc((100vw/375)*30);
        height: calc((100vw/375)*30);
        background-image: url("../src/img/guide_menu_gray.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .content-sub-menu > button > div > div > p {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/375)*10);
        line-height: calc((100vw/375)*30);
        color: #FFFFFF;
        margin: 0;
    }

    .content-sub-menu button > .selected-sub-menu > p { color: #E1AA4F; }
    .content-sub-menu button:hover > div > p { color: #E1AA4F; }
    .content-sub-menu button > .selected-sub-menu > div { background-image: url("../src/img/guide_menu_color.png"); }
    .content-sub-menu button:hover > div > div { background-image: url("../src/img/guide_menu_color.png"); }

    .title-word {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/375)*22);
        line-height: calc((100vw/375)*40);
        color: #5D5D5D;
        font-weight: bold;
    }

    .main-img {
        width: 70%;
    }

    .main-word {
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/375)*13);
        line-height: calc((100vw/375)*26);
        color: #5D5D5D;
    }

    .sub-word {
        width: 85%;
        margin-left: 7.5%;
        font-family: 'Noto Sans KR Medium';
        font-size: calc((100vw/375)*10);
        line-height: calc((100vw/375)*15);
        color: #7C7C7C;
    }

    #subcontent01 {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 75%;
        border: 0.5px solid #4848483b;
        border-radius: calc((100vw/375)*10);
        background-color: #FBFBFB;
        text-align: center;
        overflow-y: scroll;
    }
    #subcontent02 {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 75%;
        border: 0.5px solid #4848483b;
        border-radius: calc((100vw/375)*10);
        background-color: #FBFBFB;
        text-align: center;
        overflow-y: scroll;
    }
    #subcontent03 {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 75%;
        border: 0.5px solid #4848483b;
        border-radius: calc((100vw/375)*10);
        background-color: #FBFBFB;
        text-align: center;
        overflow-y: scroll;
    }
    #subcontent04 {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 75%;
        border: 0.5px solid #4848483b;
        border-radius: calc((100vw/375)*10);
        background-color: #FBFBFB;
        text-align: center;
        overflow-y: scroll;
    }
}