html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    justify-content: center;
    text-align: center;
}

.main-slide-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f1;
}

.main-slide-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.main-slide-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slide-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
}

/* PC (해상도 1024px)*/
@media all and (min-width:769px) {
    #main_video {
        position: relative;
        width: 1920px;
        height: 1080px; 
        overflow-x: hidden;
        object-fit: cover;
    }

    .main-slide-2-inner {
        position: relative;
        width: 1130px;
        height: 640px; 
    }

    .main-slide-2 img {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 695px;
        height: auto;
    }

    .main-slide-2 > div > div {
        position: absolute;
        top: 100px;
        left: 700px;
        width: 430px;
        height: auto;
        text-align: center;
    }

    .main-slide-2 h1 {
        font-family: 'Noto Sans KR Bold';
        font-size: 44px;
        color: #505050;
    }

    .main-slide-2 p {
        font-family: 'Noto Sans KR Light';
        font-size: 24px;
        line-height: 42px;
        color: #646464;
        margin-top: 80px;
    }

    .main-slide-2 button {
        font-family: 'Noto Sans KR Medium';
        font-size: 24px;
        color: #727272;
        background-color: #FFFFFF;
        text-align: center;
        width: 200px;
        height: 70px;
        margin-top: 30px;
        border: 1px solid #808080;
        border-radius: 30px;
        cursor: pointer;
    }
    .main-slide-2 button:hover { 
        color: #E1AA4F; 
        width: 202px;
        height: 72px;
        margin-top: 29px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
    }

    .main-slide-3-inner {
        position: relative;
        width: 1130px;
        height: 640px; 
        overflow: hidden;
    }

    .main-slide-3-inner h1 {
        font-family: 'Noto Sans KR Bold';
        font-size: 44px;
        color: #505050;
    }

    .main-slide-3-inner > div {
        position: absolute;
        top: 120px;
        width: 1130px;
        height: 600px;
    }

    .main-slide-3-inner > div > div {
        position: absolute;
        top: 0;
        width: 330px;
        height: 600px;
        margin: 0;
    }
    .main-slide-3-inner-1 { left: 0px; }
    .main-slide-3-inner-2 { left: 400px; }
    .main-slide-3-inner-3 { left: 800px; }

    .main-slide-3-inner > div > div > img {
        width: 70%;
        height: auto;
    }

    .main-slide-3-inner > div > div > h2 {
        margin-top: 0%;
        font-family: 'Noto Sans KR Bold';
        font-size: 40px;
        line-height: 70px;
        color: #505050;
    }

    .inner-p {
        font-family: 'Noto Sans KR Light';
        font-size: 20px;
        line-height: 42px;
        color: #707070;
        margin: 0;
    }

    .inner-btn {
        font-family: 'Noto Sans KR Medium';
        font-size: 22px;
        color: #727272;
        background-color: #FFFFFF;
        text-align: center;
        width: 200px;
        height: 50px;
        margin-top: 30px;
        border: 1px solid #808080;
        border-radius: 30px;
        cursor: pointer;
    }
    .inner-btn:hover {
        color: #E1AA4F; 
        width: 202px;
        height: 52px;
        margin-top: 29px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
    }

    .main-slide-3-inner > div > img{
        position: absolute;
        top: 160px;
        width: 80px;
        height: auto;
    }
    .main-slide-3-inner-img-1 { left: 325px; }
    .main-slide-3-inner-img-2 { left: 725px; }

    .main-slide-4-inner {
        position: relative;
        width: 1130px;
        height: 640px; 
        overflow: hidden;
    }

    .main-slide-4-inner h1 {
        font-family: 'Noto Sans KR Bold';
        font-size: 44px;
        color: #505050;
    }

    .main-slide-4-inner > div {
        position: absolute;
        top: 100px;
        width: 565px;
        height: 450px;
    }
    .main-slide-4-inner-1 { left: 0px; }
    .main-slide-4-inner-2 { left: 565px; }

    .main-slide-4-inner > div > p {
        font-family: 'Noto Sans KR Bold';
        font-size: 25px;
        line-height: 40px;
        color: #4A4A4A;
        margin-bottom: 0;
    }

    .main-slide-4-inner-1 > img { margin-top: 50px; width: 540px; }
    .main-slide-4-inner-2 > img { width: 565px; border-left: 0.5px solid #BFBFBF; }
    .main-slide-4-inner-2 > .sub-word {
        font-family: 'Noto Sans KR Medium';
        font-size: 17px;
        line-height: 40px;
        color: #909090;
        margin: 0;
    }

    .main-slide-4-inner > button {
        position: absolute;
        top: 580px;
        left: 40%;
        font-family: 'Noto Sans KR Medium';
        font-size: 20px;
        color: #727272;
        background-color: #FFFFFF;
        text-align: center;
        width: 20%;
        min-width: 200px;
        height: 8%;
        min-height: 50px;
        border: 1px solid #808080;
        border-radius: 40px;
        cursor: pointer;
    }
    .main-slide-4-inner > button:hover {
        top: 579px;
        left: calc(40%-1px);
        width: calc(20%+2px);
        min-width: 202px;
        height: calc(8%+2px);
        min-height: 52px;
        color: #E1AA4F; 
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
    }

    .pagenation {
        position: absolute;
        bottom: 20px;
        right: 30px;
        font-family: 'Noto Sans KR Bold';
        font-size: 40px;
        color: #505050;
        z-index: 9999;
    }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
/*@media all and (min-width:768px) and (max-width:1023px) { 
    style input
}*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:768px) {
    .swiper-container {
        max-width: 414px;
    }

    #main_video {
        position: relative;
        width: 1443px;
        height: 812px; 
        overflow-x: hidden;
        object-fit: cover;
    }
    
    .main-slide-2-inner {
        position: relative;
        width: 100%;
        height: 100%; 
    }
    
    .main-slide-2-inner img {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 90%;
        height: auto;
    }

    .main-slide-2-inner div {
        position: absolute;
        bottom: 5%;
        left: 10%;
        width: 80%;
        max-width: 300px;
        height: auto;
        text-align: center;
    }

    .main-slide-2-inner h1 {
        font-family: 'Noto Sans KR Bold';
        font-size: 28px;
        color: #505050;
    }

    .main-slide-2-inner p {
        font-family: 'Noto Sans KR Light';
        font-size: 17px;
        line-height: 34px;
        color: #646464;
        margin-top: 30px;
    }

    .main-slide-2-inner button {
        font-family: 'Noto Sans KR Medium';
        font-size: 15px;
        color: #727272;
        background-color: #FFFFFF;
        text-align: center;
        width: 160px;
        height: 40px;
        margin-top: calc((100%/375)*15);
        border: 1px solid #808080;
        border-radius: 40px;
        cursor: pointer;
    }
    
    .main-slide-3-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .main-slide-3-inner h1 {
        margin-top: 18%;
        font-family: 'Noto Sans KR Bold';
        font-size: 24px;
        color: #505050;
    }

    .main-slide-3-inner > div {
        position: absolute;
        top: 20%;
        width: 100%;
        height: 80%;
    }

    .main-slide-3-inner > div > div{
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .main-slide-3-inner > div > div > img {
        position: absolute;
        margin-top: -4%;
        left: 8%;
        width: 100px;
        height: 100px;
    }

    .main-slide-3-inner > div > div > h2 {
        position: absolute;
        margin-top: 18%;
        left: 16%;
        font-family: 'Noto Sans KR Bold';
        font-size: 20px;
        line-height: 50px;
        color: #505050;
    }

    .inner-p {
        padding-top: 2%;
        padding-left: 35%;
        font-family: 'Noto Sans KR Light';
        font-size: 13px;
        line-height: 26px;
        color: #707070;
        margin: 0;
    }

    .inner-btn {
        font-family: 'Noto Sans KR Medium';
        font-size: 15px;
        color: #727272;
        background-color: #FFFFFF;
        text-align: center;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-left: 35%;
        border: 1px solid #808080;
        border-radius: 20px;
        cursor: pointer;
    }

    .main-slide-3-inner > div > img {
        visibility: hidden;
        height: 5%;
        -ms-transform: rotate(90deg); 
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        margin: 5%;
    }

    .main-slide-4-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .main-slide-4-inner h1 {
        margin-top: 18%;
        font-family: 'Noto Sans KR Bold';
        font-size: 24px;
        color: #505050;
    }

    .main-slide-4-inner > div {
        position: absolute;
        left: 5%;
        width: 90%;
        height: 30%;
    }
    .main-slide-4-inner-1 { top: 18%; }
    .main-slide-4-inner-2 { top: 48%; }

    .main-slide-4-inner > div > p {
        font-family: 'Noto Sans KR Bold';
        font-size: 15px;
        line-height: 30px;
        color: #4A4A4A;
        margin-bottom: 0;
    }

    .main-slide-4-inner-1 > img { width: 90%; }
    .main-slide-4-inner-2 > img { width: 90%; }
    .main-slide-4-inner-2 > .sub-word {
        font-family: 'Noto Sans KR Medium';
        font-size: 10px;
        line-height: 20px;
        color: #909090;
        margin: 0;
    }

    .main-slide-4-inner > button {
        position: absolute;
        bottom: 3%;
        left: 30%;
        width: 40%;
        height: 40px;
        font-family: 'Noto Sans KR Medium';
        font-size: 15px;
        color: #727272;
        background-color: #FFFFFF;
        text-align: center;
        border: 1px solid #808080;
        border-radius: 20px;
        cursor: pointer;
    }

    .pagenation {
        position: absolute;
        bottom: 12px;
        right: 18px;
        font-family: 'Noto Sans KR Bold';
        font-size: 22px;
        color: #505050;
        z-index: 9999;
    }
}